table {
    border: 1px solid rgb(232, 223, 223);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#result{
    width: 84%;
    text-align: right;
}
input[type="button"] {
    width: 100%;
    padding: 20px 30px;
    background-color:oldlace;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
  
input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(228, 212, 212);
}
#btn-eql{
    width: 100%;
   height: 100%;
   padding: 20px 40px;
   border-radius: 5px;
   font-size: 24px;
   color: rgb(250, 245, 245);
   background-color:rgb(15, 15, 235);
}